@using EntityFrameworkCore.Models
@model Author
@{
    ViewData["Title"] = "AuthorBooks";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-light">
                کتاب های @Model.FirstName @Model.LastName
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>عنوان کتاب</th>
                            <th>شابک</th>
                            <th>ناشر</th>
                            <th>زبان</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var book in Model.Author_Books)
                        {
                            if(book.Book is not null)
                            {
                                <tr>
                                    <td>@book.Book.Title</td>
                                    <td>@book.Book.ISBN</td>
                                    @* <td>@book.Book.Publisher</td>
                            <td>@book.Book.Language</td>*@
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

