@using System.Globalization
@using ReflectionIT.Mvc.Paging
@model ReflectionIT.Mvc.Paging.PagingList<BooksIndexViewModel>
@inject PersianCalendar date
@addTagHelper*,ReflectionIT.Mvc.Paging
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-light">
                لیست کتاب ها
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> جستجو</button>
                                </span>
                                <input id="input-group-1" name="Title" class="form-control" placeholder="عنوان کتاب را واردکنید ..." type="text">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row form-group">
                                <label class="ml-2">تعداد ردیف</label>
                                <div class="col-md-4 padding-0px">
                                    <select class="select2" name="row" asp-items="@ViewBag.RowId"></select>
                                </div>
                                <div class="col-md-3 padding-0px">
                                    <input type="submit" value="نمایش" class="btn btn-primary float-left" />
                                </div>
                            </div>
                        </div>
                        @if (ViewBag.Search != "")
                        {
                            <div class="col-md-4">
                                <a href="/Admin/Books/Index" class="float-left"><i class="fa fa-arrow-circle-left"></i>برگشت به لیست کتابها</a>
                            </div>
                        }
                    </div>
                </form>
                <p>
                    <a class="btn btn-primary btn-block" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        جستجوی پیشرفته کتاب
                    </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <form asp-action="AdvancedSearch">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label">عنوان</label>
                                        <input class="form-control" name="Title" placeholder="عنوان">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label">شابک</label>
                                        <input class="form-control" name="Title" placeholder="شابک">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label">زبان</label>
                                        <select class="select2 js-states form-control" name="Language" asp-items="@ViewBag.Language">
                                            <option>تمام زبانها</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label">دسته بندی</label>
                                        <input type="text" id="justAnotherInputBox" placeholder="جستجو کنید">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label">نویسنده</label>
                                        <select class="select2 js-states form-control" name="Author" asp-items="@ViewBag.Author">
                                            <option>تمام نویسندگان</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label">مترجم</label>
                                        <select class="select2 js-states form-control" name="Translator" asp-items="ViewBag.Translator">
                                            <option>تمام مترجمان</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label">ناشر</label>
                                        <select class="select2 js-states form-control" name="Publisher" asp-items="ViewBag.Publisher">
                                            <option>تمام ناشران</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" value="جستجو" class="btn btn-success float-left" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="table-responsive">
                    @{
                        if (!string.IsNullOrEmpty(ViewBag.Message))
                        {
                            <div class="alert alert-danger alert-dismissible">
                                @ViewBag.Message
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span>&times;</span>
                                </button>
                            </div>
                        }
                    }
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>@Html.SortableHeaderFor(model => model.Title, "Title")</th>
                                <th>@Html.SortableHeaderFor(model => model.Authors, "Authors")</th>
                                <th>@Html.SortableHeaderFor(model => model.ISBN, "ISBN")</th>
                                <th>@Html.SortableHeaderFor(model => model.Stock, "Stock")</th>
                                <th>@Html.SortableHeaderFor(model => model.PublisherName, "Publisher")</th>
                                <th class="text-center">@Html.SortableHeaderFor(model => model.Price, "Price")</th>
                                <th class="text-center">@Html.SortableHeaderFor(model => model.PublishDate, "PublishDate")</th>
                                <th style="width:25px;">@Html.SortableHeaderFor(model => model.IsPublish, "IsPublish")</th>
                                <th class="text-center">فایل کتاب</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = ViewBag.NumOfRow;
                                if (Model.Count() > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-center">@i</td>
                                            <td class="text-nowrap">@item.Title</td>
                                            <td>@item.Authors</td>
                                            <td>@item.ISBN</td>
                                            <td>@item.Stock</td>
                                            <td>@item.PublisherName</td>
                                            <td class="text-center">@item.Price</td>
                                            @{
                                                var dateTime = item.PublishDate.HasValue ? date.GetYear(item.PublishDate.Value) : 0;
                                            }
                                            <td class="text-center">@dateTime</td>
                                            <td class="text-center">
                                                @{
                                                    if (item.IsPublish.Value)
                                                    {
                                                        <label class="badge badge-success btn-block">منتشر شده</label>
                                                    }
                                                    else
                                                    {
                                                        <label class="badge badge-info btn-block">پیش نویس</label>
                                                    }
                                                }
                                            </td>
                                            <td class="text-center">
                                                <a class="btn btn-info btn-icon btn-sm" asp-area="Admin" asp-controller="Books" asp-action="Download" asp-route-id="@item.BookId">دانلود</a>
                                            </td>
                                            <td class="text-center">
                                                <a href="/Admin/Books/Details/@item.BookId" class="btn btn-info btn-icon"><i class="fa fa-eye text-white"></i></a>
                                                <a href="/Admin/Books/Edit/@item.BookId" class="btn btn-success btn-icon"><i class="fa fa-edit text-white"></i></a>
                                                <a href="/Admin/Books/Delete/@item.BookId" class="btn btn-danger btn-icon"><i class="fa fa-trash text-white"></i></a>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td class="text-center" colspan="11">کتابی برای نمایش وجود ندارد</td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>

                    <nav>
                        @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
                    </nav>


                    @*<vc:pager paging-list="@Model"></vc:pager>*@
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var SampleJSONData = @Html.Raw(Json.Serialize(ViewBag.Categories));
    var comboTree2;

    jQuery(document).ready(function ($) {
        comboTree2 = $('#justAnotherInputBox').comboTree({
            source: SampleJSONData,
            isMultiple: false
        });
    });
</script>

